.mainContainer {
 position: relative;
 width: min(90%, 1024px);
 margin-inline: auto;
 background-color: var(--white);
 padding: 2.5rem;
 border-radius: var(--borderRadius);
 color: var(--color_TextParagraph);

 /* className="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" */

 .btnContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  top: 2.5rem;
  right: 2.5rem;

  @media screen and (min-width: 768px) {
   position: absolute;
  }
 }



 .avatar {
  border-radius: 100%;
  margin-bottom: 16px;
 }

 .advisorHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(1rem, 2vw + .5rem, 2rem);
  padding-bottom: 1rem;
  border-bottom: 1px solid color-mix(in srgb, currentColor 30%, transparent);
  margin-bottom: 2rem;
 }

 .name {
  font-weight: 900;
  font-size: clamp(32px, 2vw + .5rem, 32px);
  color: var(--primaryTextColor);
 }

 .address {}

 .advisorDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 }

 .advisorDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;

  @media screen and (min-width: 768px) {
   flex-direction: row;
   align-items: center;
  }

  h3 {
   font-size: clamp(20px, 2vw + .5rem, 20px);
  }
 }

}